<form [formGroup]="form.artworkForm" (ngSubmit)="onSubmit(form.artworkForm)" (change)="onFormChange($event)">
<div>
      <label>Featured Image:</label>
      <input formControlName="featured_image" type="file" accept="image/*" (change)="onFeaturedImageChange($event)">
  </div>
  <div>
      <label>Title:</label>
      <input formControlName="title" type="text" id="title">
  </div>
  <div>
      <label>description:</label>
      <textarea formControlName="description" type="text" id="description"></textarea>
  </div>
  <div>
      <label>Thumbnails:</label>
      <input formControlName="image" type="file" multiple="multiple" accept="image/*" (change)="onThumbNailsChange($event)">
  </div>
  <div>
    <label>Price</label>
  </div>
  <div>
      <label>Free:</label>
      <input formControlName="is_free" type="checkbox" id="is_free">
  </div>
  <div>
      <label>Enter Amount:</label>
      <input formControlName="price" type="text" id="price">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
