<section class="ml-64 pl-16 mb-20">
    <form [formGroup]="form.artworkForm" (ngSubmit)="onSubmit(form.artworkForm)" (change)="onFormChange($event)">
        <h1 class="text-4xl pt-10 font-semibold">Upload <span class="text-primary font-black">artwork</span></h1>
        <div class="mt-10">
            <label for="first-name" class="text-lg font-medium ">Featured image</label>
            <div class="featured-dropzone my-2" [accept]="'image/*'" [multiple]="false" [id]="'featured_image'" (change)="onFeaturedImageChange($event)" ngx-dropzone>
                <ngx-dropzone-label>Drop file or click here </ngx-dropzone-label>
                <ngx-dropzone-image-preview class="featured-dropzone-content" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of featuredImage" [file]="f" [removable]="true" (removed)="onFeaturedImageRemove(f)">
                </ngx-dropzone-image-preview>
            </div>
        </div>
        <div class="my-5">
            <label for="first-name" class="text-lg font-medium">Thumbnails</label>
            <div class="flex flex-wrap mt-2">
            <ngx-dropzone-image-preview class="featured-dropzone-content" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of ThumbnailImage" [file]="f" [removable]="true" (removed)="onThumbNailsRemove(f)">
            </ngx-dropzone-image-preview>
            <div class="thumbnail-dropzone" [accept]="'image/*'" [id]="'thumbnail_image'" (change)="onThumbNailsChange($event)" ngx-dropzone>
                <ngx-dropzone-label class="px-4">Drop file or click here </ngx-dropzone-label>
            </div>
            </div>
        </div>
        <div class="mt-10">
            <div class="mt-5 text-left">
            <label for="first-name" class="text-lg font-medium">Title</label>
            <div class="mt-2"><input formControlName="title" type="text" id="title" class="w-full xl:w-2/4 bg-gray-100 h-12 border border-secondary focus:outline-none rounded-sm p-4 text-gray-700"></div>
            </div>
            <div class="mt-5 text-left">
            <label for="first-name" class="text-lg font-medium">Tags</label>
            <div class="mt-2"><input type="email" class="w-full xl:w-2/4 bg-gray-100 h-12 border border-secondary focus:outline-none rounded-sm p-4 text-gray-700"></div>
            </div>
            <div class="mt-5 text-left">
            <label for="first-name" class="text-lg font-medium">Description</label>
            <div class="mt-2"><textarea formControlName="description" type="text" id="description" class="w-full xl:w-2/4 h-56 bg-gray-100 h-12 border border-secondary focus:outline-none rounded-sm p-4 text-gray-700"></textarea></div>
            </div>
            <div class="mt-5 flex items-center">
            <label for="first-name" class="text-lg font-medium mr-2">Price:</label>
            <div class="mt-2"><input type="email" class="w-full  h-10 text-primary font-semibold pb-1 text-lg focus:outline-none rounded-sm text-gray-700" value="{{ form.price.value }}" readonly></div>
            <input formControlName="is_free" type="checkbox" id="is_free" class="ml-5 mr-2"><span>Free</span>
            </div>
            <div class="mt-2 text-left" *ngIf="!form.isFree.value">
            <label for="first-name" class="text-base font-medium">Enter amount</label>
            <div class="mt-2"><input formControlName="price" type="number" id="price" class="w-full xl:w-2/4 bg-gray-100 border border-secondary focus:outline-none rounded-sm p-4 text-gray-700"></div>
            </div>
            <div class="mt-10">
            <button type="submit" class="py-4 px-12 text-white rounded-sm bg-primary text-xl">Upload </button>
            </div>
        </div>
    </form>
    
</section>
