<aside class="w-1/5 mr-5 fixed mt-3">
  <div>
    <h4 class="text-primary text-lg font-medium">Hello,</h4>
    <h1 class="text-4xl font-black leading-normal">Johanna</h1>
  </div>
  <ul class="my-16">
    <!-- currently using free version of fontawesome icons -->
    <li class="mb-4 text-xl text-secondary font-medium"><a uiSref="home"><i class="fas text-base fa-home mr-5"></i>Home</a></li>
    <li class="mb-4 text-xl text-secondary font-medium"><a uiSref=""><i class="fas text-base fa-user mr-5"></i>Profile</a></li>
    <li class="mb-4 text-xl text-secondary font-medium"><a uiSref=""><i class="fas text-base fa-envelope mr-5"></i>inbox</a></li>
    <li class="mb-4 text-xl text-secondary font-medium"><a uiSref=""><i class="fas text-base fa-check mr-5"></i>Verify</a></li>
    <li class="mb-4 text-xl text-secondary font-medium"><a uiSref=""><i class="fas text-base fa-tag mr-5"></i>Market</a></li>
  </ul>
  <div class="mt-12">
    <label class="text-primary text-lg font-semibold">Works</label>
    <h4 class="text-secondary text-xl my-2 font-medium">Upload works</h4>
  </div>
  <div class="mt-12">
    <label class="text-primary text-lg font-semibold">Groups</label>
    <h4 class="text-secondary text-xl my-2 font-medium">The Creatives</h4>
  </div>
</aside>