<nav class="justify-between flex py-6 sticky top-0 bg-white z-50">
  <div class="flex items-center w-3/6">
    <a class="text-4xl m-2 font-black" uiSref="home">Aptitude</a>
    <input type="text" name="" id="" class="bg-gray-200 w-4/5 h-12 ml-4 px-5 rounded-md text-xs placeholder-gray-500 focus:outline-none" placeholder="Search for illustrations, designs, and artworks">
  </div>
  <ul class="flex items-center">
    <li class="ml-4 text-base font-semibold"><a uiSref="create-artwork">Create</a></li>
    <li class="ml-4 text-base font-semibold">Collections</li>
    <li class="ml-4 text-base font-semibold">Explore</li>
  </ul>
</nav>