<section class="ml-64 pl-16">
  <nav class="flex justify-between">
    <ul class="flex items-center">
      <li class="mr-16 text-secondary">All</li>
      <li class="mr-16 text-secondary">Clothing</li>
      <li class="mr-16 text-secondary">Animations</li>
      <li class="mr-16 text-secondary">Product Design</li>
      <li class="mr-16 text-secondary">Typography</li>
    </ul>
    <div class="bg-gray-200 py-2 px-4 text-xs rounded-sm">
      <i class="fas text-sm fa-filter mr-3"></i>More filters
    </div>
  </nav>
</section>