<form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
  <div>
      <label>Email:</label>
      <input formControlName="email" type="text">
      <span [hidden]="form.valid('email')">Invalid email format.</span>
  </div>
  <div>
      <label>First Name:</label>
      <input formControlName="first_name" type="text">
  </div>
  <div>
      <label>Last Name:</label>
      <input formControlName="last_name" type="text">
  </div>
  <div>
      <label>Password:</label>
      <input formControlName="password" type="password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
